body{
    background-color: rgb(252, 252, 184);
}
img{
    height:50%;
    width: 65%;
    position: relative;
    left: 15%;
}
.tel{
    position: absolute;
    top: 30%;
    left: 40%;
}
.tel_1{
    position: absolute;
    top: 30%;
    left: 42%;
}
.tel_2{
    position: absolute;
    top: 40%;
    left: 44%;
    height: 30px;
    width: 90px;
    border-radius: 10px;
    background-color: rgba(63, 178, 216, 0.47);
    border: none;
    cursor: pointer;
}
.tel_2:hover{
    transition: 1s;
    background-color: white;
}
.country{
    position: absolute;
    top: 50%;
    left: 43%;
}
.sim{
    position: absolute;
    top: 60%;
    left: 43%;
}