<!DOCTYPE html>
<html lang="en">
<head>
    <title>Phone Number Tracker</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <img src="../static/images/v4-460px-Make-Your-Phone-Impossible-to-Track-Step-12.jpg" alt="Mobile">
    <input type="tel" value="+91" class="tel"><input type="tel" class="tel_1" placeholder="1234567890">
    <input type="submit" value="Submit" class="tel_2">
    <h3 class="country">Country:{{box}}</h3>
    <h3 class="sim">Sim:{{bag}}</h3>
</body>
</html>